//Variables
//Fuentes
$font-regular: url("../dist/fonts/static/Outfit-Regular.ttf");
$font-bold: url("../dist/fonts/static/Outfit-Bold.ttf");
$font-extrabold: url("../dist/fonts/static/Outfit-ExtraBold.ttf");

//Separación
$separation: 5rem;

//Media-queries
$small: 480px;
$medium: 768px;
$big: 992px;

// Variables globales
$primary: #0056b3;
$body-bg: #f8f9fa;
$footer-bg: #ececec;